{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#	<meta charset="utf-8">#}
{#	<link rel="stylesheet" type="text/css" href="../static/style/normalize.css">#}
{#	<link rel="stylesheet" type="text/css" href="../static/style/main.css">#}
{#	<script src="../static/scripts/jquery-3.3.1.min.js"></script>#}
{#	<script src="../static/scripts/d3.min.js"></script>#}
{#	<script src="../static/scripts/js-yaml.min.js"></script>#}
{#	<script src="../static/scripts/main.js"></script>#}
{#</head>#}
{#<body>#}
{#	<main id="tree" class="chart-container"></main>#}
{#	<div id="bio" class="bio-display"></div>#}
{#</body>#}
{#</html>#}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Autocomplete - Default functionality</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<link rel="stylesheet" type="text/css" href="../static/style/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/style/main.css">
	<script src="../static/scripts/jquery-3.3.1.min.js"></script>
	<script src="../static/scripts/d3.min.js"></script>
	<script src="../static/scripts/js-yaml.min.js"></script>
	<script src="../static/scripts/main.js"></script>
    <style>
        body,
        html,
        .neo4jd3 {
            height: 100%;
            overflow: hidden;
        }
    </style>
    <script>
        function init(data) {

        }

        window.onload = init;

        $(function () {

            $("#includedContent").load("aa.html");
            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            $("#tags").autocomplete({
                source: availableTags,
                source: '/api/get_family_tree/',
                minLength: 1,
                select: function (event, ui) {

                    alert(ui)
                    AutoCompleteSelectHandler(event, ui)
                    GetJson(ui.item.name)
                    $("#project").val(ui.item.label);
                    $("#project-id").val(ui.item.value);
                    $("#project-description").html(ui.item.desc);
                    $("#project-icon").attr("src", "images/" + ui.item.icon);

                    return true;
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<div> " + item.node_type + " <br>" + item.value + "</div>")
                    .appendTo(ul);
            };

            function AutoCompleteSelectHandler(event, ui) {
                var selectedObj = ui.item;
                alert(selectedObj.value)

            }

            function GetJson(term) {
                // Send an AJAX request
                $.ajax({
                    type: "GET",
                    url: "api/get_json_data/",
                    data: {'term': term},
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        var data = response;

                        var parsed = JSON.parse(data);
                        var data = jQuery.parseJSON(response);
                        alert(JSON.stringify(response));
                        init(JSON.stringify(response));
                        alert(response)
                        var data = {"results": [{"data": [{"graph": {"relationships": [{"startNode": 2, "type": "WRITES", "endNode": 2864}], "nodes": [{"id": 2864, "labels": ["Book"], "properties": {"volume_no": "", "issue_no": "", "no_of_author": "2", "year": "2018", "publication": "ACS nano", "name": "Announcing the 2018 ACS Nano Lectureship Awards", "publish_phase": "Final", "book_id": "2-s2.0-85042685102", "literature_type": "Article", "labels": ["Book"], "doi": "10.1021/acsnano.8b00282"}}, {"id": 2, "labels": ["Author"], "properties": {"name": "Fernandez, L.E", "labels": ["Author"]}}]}}]}]};
                        init(response)

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status + thrownError.toString());
                        alert(thrownError.stackTrace);
                    }
                });
            }
        });


    </script>
</head>
<body>

<div id="includedContent"></div>
<div class="tab-content">
    <div class="tab-pane fade">
        <div class="form-row">
            <div class="col">
                <input type="text" class="w-100 form-control-xs-lg search-input" id="tags" name="term"
                       placeholder="Search Here..."
                       style="width: 95%; padding:10px; margin-top: 50px; margin-left: 10px; margin-right: 10px">
            </div>
        </div>




	<main id="tree" class="chart-container"></main>
	<div id="bio" class="bio-display"></div>
    </div>

</div>
</body>
</html>


                neo4jDataUrl: 'json/dd.json',
