<!DOCTYPE html>
<!--
	24 News by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html lang="en" class="no-js">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Genogram</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/style/main.css">
    <script src="../static/scripts/jquery-3.3.1.min.js"></script>
    <script src="../static/scripts/d3.min.js"></script>
    <script src="../static/scripts/js-yaml.min.js"></script>

    {#    <link rel="stylesheet" href="../static/css/font-awesome.min.css">#}
    <link href="../static/css/media_query.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="../static/css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="../static/css/style_1.css" rel="stylesheet" type="text/css"/>
    <!-- Modernizr JS -->
    <script src="../static/js/modernizr-3.5.0.min.js"></script>
    <style>
        .sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            padding: 10px;
            font-size: 20px;
        }

        .column {
            float: left;
            width: 70px;
            padding: 5px;
            text-align: center;
            border: #636c72;
            height: 30px; /* Should be removed. Only for demonstration */
        }

        .card {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            transition: 0.2s;
            {#width: 820px;#}
            margin-top: 10px;
            margin-bottom: 10px;
        }

    </style>
    <script>
        $(() => {
            const width = window.innerWidth;
            const height = window.innerHeight;
            const duration = 750;
            const boxW = 150;
            const boxH = 30;
            const spouseSpace = 50; // space between 2 spouses box from center

            let data = {
                name: 'Top Level',
            };
            let root;
            let i = 0;

            const linkColors = d3
                .scaleLinear()
                .domain([1, 4, 8])
                .range(['#00441b', '#29851F', '#7EA31E']);

            // append the svg obgect to the body of the page
            // appends a 'group' element to 'svg'
            // moves the 'group' element to the top left margin
            let svg = d3
                .select('#tree')
                .append('svg')
                .attr('width', width)
                .attr('height', height);

            const rectBg = svg
                .append('rect')
                .attr('width', width)
                .attr('height', height)
                .classed('chart-bg', true);
            {#.attr('margin-top', 100)#}

            svg = svg.append('g').attr('class', 'tree-container');

            const zoom = d3
                .zoom()
                .scaleExtent([0.4, 4])
                .on('zoom', () => {
                    // console.log('on zoom', d3.event.transform);
                    svg.attr('transform', d3.event.transform);
                });

            // this is the correct way to set initial scale and translate
            rectBg.call(zoom).call(zoom.transform, d3.zoomIdentity.translate(90, height / 2).scale(1));

// FIXME: debug
            window.svg = svg;
            window.zoom = zoom;
            window.rectBg = rectBg;
            window.data = data;

            $('select').on('change', function () {
                {#alert(this.value);#}
                if (this.value != NaN) {
                    $.ajax({
                        type: "GET",
                        url: "api/get_family_tree/",
                        data: {'term': this.value},
                        contentType: "application/x-yml; charset=utf-8",
                        success: function (response) {

                            // Assigns parent, children, height, depth

                            data = jsyaml.load(response);
                            root = d3.hierarchy(data, d => d.children);
                            root.x0 = height / 2;
                            root.y0 = 0;

                            // Collapse after the second level
                            root.children.forEach(collapse);
                            update(response);

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            {#alert(xhr.status + thrownError.stackTrace);#}
                        }
                    });
                }


            });

            var helpers =
                {
                    buildDropdown: function (result, dropdown, emptyMessage) {
                        // Remove current options
                        dropdown.html('');
                        // Add the empty option with the empty message
                        dropdown.append('<option value="">' + emptyMessage + '</option>');
                        // Check result isnt empty
                        if (result != '') {
                            // Loop through each of the results and append the option to the dropdown
                            $.each(result, function (k, v) {
                                dropdown.append('<option value="' + v.id + '">' + v.name + '</option>');
                            });
                        }
                    }
                }
            $.ajax({
                type: "GET",
                url: "api/get_sample_data_for_dropdown/",
                data: {'term': 'NTU'},
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    {#alert('not working')#}
                    helpers.buildDropdown(
                        response,
                        $('#dropdown'),
                        'Select a Person'
                    );
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status + thrownError.stackTrace);
                }
            });
            // declares a tree layout and assigns the size
            const treemap = d3
                .tree()
                .size([height, width])
                .nodeSize([boxH, boxW])
                .separation(function (a, b) {
                    // leave some space for the spouse block
                    if (b.data.spouse) {
                        if (a.data.spouse) {
                            // both a & b has spouse blocks
                            return 3.5;
                        }
                        // only b has spouse block
                        return 2.5;
                    } else if (a.data.spouse) {
                        // only a has spouse block
                        return 2.5;
                    } else if (a.parent === b.parent) {
                        // single siblings are close to save space
                        return 1.2;
                    }

                    //else (single cousins)
                    return 2;
                });

            // Collapse the node and all it's children
            function collapse(d) {
                if (d.children) {
                    d._children = d.children;
                    d._children.forEach(collapse);
                    // expand all by default
                    d.children = null;
                }
            }

            function update(source) {
                // Assigns the x and y position for the nodes
                {#alert("update")#}
                const treeData = treemap(root);

                // Compute the new tree layout.
                const nodes = treeData.descendants();
                const links = treeData.descendants().slice(1);
                // console.log('treeData', treeData);

                // Normalize for fixed-depth.
                nodes.forEach(d => {
                    d.y = d.depth * 250;
                });

                // ****************** Nodes section ***************************

                // Update the nodes...
                const node = svg.selectAll('g.node').data(nodes, d => d.id || (d.id = ++i));

                // Enter any new modes at the parent's previous position.
                const nodeEnter = node
                    .enter()
                    .insert('g', ':first-child') // children should be below parents so that the transition looks nicer
                    .attr('class', d => (d._children ? 'node node--has-children' : 'node'))
                    .attr('transform', () => `translate(${source.y0},${source.x0})`)
                    .on('click', click);

                // Add person block
                const personBlock = nodeEnter.append('g').attr('transform', d => {
                    return d.data.spouse ? `translate(0, ${-spouseSpace / 2})` : 'translate(0, 0)';
                });

                // Add Rectangle as text box for the nodes
                personBlock
                    .append('rect')
                    .attr('x', d => (d.data.boxW ? -d.data.boxW / 2 : -boxW / 2))
                    .attr('y', -boxH * 0.5)
                    .attr('width', d => d.data.boxW || boxW)
                    .attr('height', boxH)
                    .attr('rx', 0) // corner radius x
                    .attr('ry', 0) // corner radius y
                    .attr('class', d => {
                        const gender = String(d.data.gender).toLowerCase();
                        if (gender === 'female') {
                            return 'box box--female';
                        } else if (gender === 'male') {
                            return 'box box--male';
                        }
                        return 'box';
                    })
                    .on('mouseover', d => {
                        {#alert('hey mov')#}
                        const bio = d3.select('#bio');

                        bio.html(`Name: ${d.data.name}`);


                    });

                // Add labels for the nodes
                personBlock
                    .append('text')
                    .classed('node-name', true)
                    .attr('dy', '.35em') // shift it to vertically middle
                    .attr('text-anchor', 'middle')
                    .text(d => d.data.name_abbr);

                const nodeHasSpouse = nodeEnter.filter(d => !!d.data.spouse);

                // spouse link
                nodeHasSpouse
                    .insert('line', ':first-child')
                    .attr('class', 'link')
                    .attr('stroke', d => {
                        return linkColors(d.depth);
                    })
                    .attr('x1', 0)
                    .attr('y1', -spouseSpace / 2)
                    .attr('x2', 0)
                    .attr('y2', spouseSpace / 2);

                // Add spouse block
                const spouseBlock = nodeHasSpouse.append('g').attr('transform', `translate(0, ${spouseSpace / 2})`);

                // spouse block
                spouseBlock
                    .append('rect')
                    .attr('x', d => `${d.data.boxW ? -d.data.boxW / 2 : -boxW / 2}`)
                    .attr('y', -boxH * 0.5)
                    .attr('width', d => d.data.boxW || boxW)
                    .attr('height', boxH)
                    .attr('class', d => {
                        const gender = String(d.data.gender).toLowerCase();
                        // spouse gender is assumedly reversed from main node
                        // TODO: pickup gender declared in spouse also
                        if (gender === 'female') {
                            return 'box box--male';
                        } else if (gender === 'male') {
                            return 'box box--female';
                        }
                        return 'box';
                    })
                    .on('mouseover', d => {
                        const spouse = d.data.spouse;
                        const bio = d3.select('#bio');
                        if (spouse.bio) {
                            bio.html(`Bio: ${spouse.bio}`);
                        } else {
                            bio.html('');
                        }
                    });

                // spouse text
                spouseBlock
                    .append('text')
                    .classed('spouse-name', true)
                    .attr('dy', '0.35em')
                    .attr('text-anchor', 'middle')
                    .attr('style', d => {
                        const name = d.data.spouse.name || d.data.spouse;
                        // auto reduce font size so the long spouse names can fit
                        if (name.includes('&')) {
                            return 'font-size: 10px';
                        }
                    })
                    .text(d => `⚭${d.data.spouse.name_abbr || d.data.spouse}`);

                // Add expand indicator
                nodeEnter
                    .filter(d => !!d._children)
                    .append('text')
                    .classed('expand-icon', true)
                    .attr('text-anchor', 'middle')
                    .attr('x', boxW / 2 + 10)
                    .attr('y', 5) // shift middle
                    .attr('visibility', d => (d.children ? 'hidden' : 'visible'))
                    .text('⊕');

                // UPDATE
                const nodeUpdate = nodeEnter.merge(node);

                // Transition to the proper position for the node
                nodeUpdate
                    .transition()
                    .duration(duration)
                    .attr('transform', d => `translate(${d.y},${d.x})`);

                // Update the expand / close indicator
                nodeUpdate.selectAll('text.expand-icon').attr('visibility', d => (d.children ? 'hidden' : 'visible'));

                // Remove any exiting nodes
                const nodeExit = node
                    .exit()
                    .transition()
                    .duration(duration)
                    .attr('transform', () => `translate(${source.y},${source.x})`)
                    .remove();

                // On exit reduce the opacity of text labels
                nodeExit.selectAll('text').style('fill-opacity', 0);

                // ****************** links section ***************************
                const connector = elbow;

                // Update the links...
                const link = svg.selectAll('path.link').data(links, d => d.id);

                // Enter any new links at the parent's previous position.
                const linkEnter = link
                    .enter()
                    .insert('path', 'g')
                    .attr('class', 'link')
                    .attr('stroke', d => {
                        return linkColors(d.depth);
                    })
                    .attr('d', () => {
                        const o = {x: source.x0, y: source.y0};
                        return connector(o, o);
                    });

                // UPDATE
                const linkUpdate = linkEnter.merge(link);

                // Transition back to the parent element position
                linkUpdate
                    .transition()
                    .duration(duration)
                    .attr('d', d => {
                        if (d.data.spouse) {
                            // move link start (at child) a bit up since it is at new position
                            // because of spouse
                            return connector({y: d.y, x: d.x - spouseSpace / 2}, d.parent);
                        }
                        return connector(d, d.parent);
                    });

                // Remove any exiting links
                link
                    .exit()
                    .transition()
                    .duration(duration)
                    .attr('d', () => /*d*/ {
                        const o = {x: source.x, y: source.y};
                        return connector(o, o);
                    })
                    .remove();

                // Store the old positions for transition.
                nodes.forEach(d => {
                    d.x0 = d.x;
                    d.y0 = d.y;
                });


            } // end of update()

            // Creates a curved (diagonal) path from parent to the child nodes (UNUSED)
            // eslint-disable-next-line
            function diagonal(s, d) {
                const path = `M ${s.y} ${s.x}
			C ${s.y + (d.y - s.y) * 0.8} ${s.x},
			  ${s.y + (d.y - s.y) * 0.1} ${d.x},
			  ${d.y} ${d.x}`;

                return path;
            }

            // Mind that we are drawing with x & y swapped to turn the tree horizontal
            function elbow(s, d) {
                const hy = (s.y - d.y) / 2;
                return `M${d.y},${d.x} H${d.y + hy} V${s.x} H${s.y}`;
            }

            // Toggle children on click.
            function click(d) {
                if (d.children) {
                    d._children = d.children;
                    d.children = null;
                } else {
                    d.children = d._children;
                    d._children = null;
                }
                update(d);
            }

        });


    </script>
</head>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 fh5co_padding_menu">
                <img src="../static/img/logo.png" alt="img" class="fh5co_logo_width"/>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <a class="navbar-brand" href="#"><img src="../static/img/logo.png" alt="img" class="mobile_logo_width"/></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="publication_graph.html">Publication Graph <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="genogram.html">Genogram <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="about_us.html">About Us <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container-fluid paddding mb-5">
    <div class="col mx-0">
        <div class="col paddding animate-box" data-animate-effect="fadeIn">
            <div class="card">
                <div style="width: 900px; margin: 0 auto;">
                    </b><label class="fh5co_heading py-2 mb-4" for="dropdown"
                               style="margin-right: 10px;margin-top: 20px;">Darwin
                    Family's First Generation:</label></b><select class="fh5co_heading py-2 mb-4"
                                                                  id="dropdown"></select>
                </div>
            </div>

        </div>

        <div class="col my-xl-auto" style="height: 100vh;border: 1px solid #ddd;">
            <div class="row" style="border: #636c72; padding-top: 5px; padding-right: 5px; float: right">
                <div class="column" style="background-color: #F8BBD0;stroke: mediumvioletred" align="right"><label>Female</label>
                </div>
                <div class="column" style="background-color: #eee; stroke: #333;" align="right"><p>N/A</p></div>
                <div class="column" style="background-color: #25c3f4;  stroke: royalblue;" align="right"><p>Male</p>
                </div>
            </div>
            <div id="bio" class="bio-display" style="padding-top:10px;width:300px; height:39px; color:#1d1e1f;"></div>
            <div>
                <main id="tree" class="chart-container"></main>
            </div>
        </div>
    </div>

</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>

<script src="../static/js/owl.carousel.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<!-- Main -->
<script src="../static/js/main.js"></script>

</body>
</html>