<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title>neo4jd3.js</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/neo4jd3.css?v=0.0.1">
        <style>
            body,
            html,
            .neo4jd3 {
                height: 100%;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <div id="neo4jd3"></div>
        <a href="https://github.com/eisman/neo4jd3"><img style="cursor: pointer; position: absolute; top: 0; right: 0; border: 0;" src="img/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" data-canonical-src="img/forkme_right_gray_6d6d6d.png"></a>

        <!-- Scripts -->
        <script src="../static/js/d3.min.js"></script>
        <script src="../static/js/neo4jd3.js?v=0.0.1'"></script>
        <script type="text/javascript">
            function init() {
                var sample_data = {
            "results": [
                {
                    "data": [
                        {
                            "graph": {
                                "relationships": [
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 3295
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 2780
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 2603
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 2167
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 3191
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 2679
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 2444
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 3056
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 3391
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 3524
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 3635
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 2072
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 2309
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 2337
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 1939
                                    },
                                    {
                                        "startNode": 2,
                                        "type": "WRITES",
                                        "endNode": 1934
                                    }
                                ],
                                "nodes": [
                                    {
                                        "id": 1934,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "13",
                                            "journal": "ACS nano",
                                            "year": "2019",
                                            "vol_no": "11",
                                            "book_id": "2-s2.0-85075681764",
                                            "name": "In Nano, Volume 13, Issue 11",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.9b08900"
                                        }
                                    },
                                    {
                                        "id": 2,
                                        "labels": [
                                            "Author"
                                        ],
                                        "properties": {
                                            "name": "Brownlee, C."
                                        }
                                    },
                                    {
                                        "id": 3295,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "12",
                                            "journal": "ACS nano",
                                            "year": "2018",
                                            "vol_no": "10",
                                            "book_id": "2-s2.0-85055155276",
                                            "name": "In Nano, Volume 12, Issue 10",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.8b07704"
                                        }
                                    },
                                    {
                                        "id": 2780,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "13",
                                            "journal": "ACS nano",
                                            "year": "2019",
                                            "vol_no": "2",
                                            "book_id": "2-s2.0-85062425299",
                                            "name": "In Nano, Volume 13, Issue 2",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.9b01193"
                                        }
                                    },
                                    {
                                        "id": 2603,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "13",
                                            "journal": "ACS nano",
                                            "year": "2019",
                                            "vol_no": "4",
                                            "book_id": "2-s2.0-85065322902",
                                            "name": "In Nano, Volume 13, Issue 4",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.9b02653"
                                        }
                                    },
                                    {
                                        "id": 2167,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "13",
                                            "journal": "ACS nano",
                                            "year": "2019",
                                            "vol_no": "8",
                                            "book_id": "2-s2.0-85071652172",
                                            "name": "In Nano, Volume 13, Issue 8",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.9b06425"
                                        }
                                    },
                                    {
                                        "id": 3191,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "12",
                                            "journal": "ACS nano",
                                            "year": "2018",
                                            "vol_no": "11",
                                            "book_id": "2-s2.0-85057251376",
                                            "name": "In Nano, Volume 12, Issue 11",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.8b08634"
                                        }
                                    },
                                    {
                                        "id": 2679,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "13",
                                            "journal": "ACS nano",
                                            "year": "2019",
                                            "vol_no": "3",
                                            "book_id": "2-s2.0-85063952956",
                                            "name": "In Nano, Volume 13, Issue 3",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.9b01881"
                                        }
                                    },
                                    {
                                        "id": 2444,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "13",
                                            "journal": "ACS nano",
                                            "year": "2019",
                                            "vol_no": "5",
                                            "book_id": "2-s2.0-85067292696",
                                            "name": "In Nano Volume 13, Issue 5",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.9b03594"
                                        }
                                    },
                                    {
                                        "id": 3056,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "12",
                                            "journal": "ACS nano",
                                            "year": "2018",
                                            "vol_no": "12",
                                            "book_id": "2-s2.0-85065072372",
                                            "name": "In Nano, Volume 12, Issue 12",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.8b09384"
                                        }
                                    },
                                    {
                                        "id": 3391,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "12",
                                            "journal": "ACS nano",
                                            "year": "2018",
                                            "vol_no": "8",
                                            "book_id": "2-s2.0-85071280056",
                                            "name": "In Nano, Volume 12, Issue 8",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.8b06079"
                                        }
                                    },
                                    {
                                        "id": 3524,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "12",
                                            "journal": "ACS nano",
                                            "year": "2018",
                                            "vol_no": "7",
                                            "book_id": "2-s2.0-85070818441",
                                            "name": "In Nano, Volume 12, Issue 7",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.8b05310"
                                        }
                                    },
                                    {
                                        "id": 3635,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "12",
                                            "journal": "ACS nano",
                                            "year": "2018",
                                            "vol_no": "6",
                                            "book_id": "2-s2.0-85065063059",
                                            "name": "In Nano, Volume 12, Issue 6",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.8b04412"
                                        }
                                    },
                                    {
                                        "id": 2072,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "13",
                                            "journal": "ACS nano",
                                            "year": "2019",
                                            "vol_no": "9",
                                            "book_id": "2-s2.0-85073415955",
                                            "name": "In Nano, Volume 13, Issue 9",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.9b07065"
                                        }
                                    },
                                    {
                                        "id": 2309,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "13",
                                            "journal": "ACS nano",
                                            "year": "2019",
                                            "vol_no": "7",
                                            "book_id": "2-s2.0-85070453171",
                                            "name": "In Nano, Volume 13, Issue 7",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.9b05315"
                                        }
                                    },
                                    {
                                        "id": 2337,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "13",
                                            "journal": "ACS nano",
                                            "year": "2019",
                                            "vol_no": "6",
                                            "book_id": "2-s2.0-85068955303",
                                            "name": "In Nano, Volume 13, Issue 6",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.9b04531"
                                        }
                                    },
                                    {
                                        "id": 1939,
                                        "labels": [
                                            "Book"
                                        ],
                                        "properties": {
                                            "issue_no": "13",
                                            "journal": "ACS nano",
                                            "year": "2019",
                                            "vol_no": "10",
                                            "book_id": "2-s2.0-85074549440",
                                            "name": "In Nano, Volume 13, Issue 10",
                                            "literature_type": "Article",
                                            "doi": "10.1021/acsnano.9b07973"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ],
            "errors": []
        };
                var neo4jd3 = new Neo4jd3('#neo4jd3', {
                    highlight: [
                        {
                            class: 'Project',
                            property: 'name',
                            value: 'neo4jd3'
                        }, {
                            class: 'User',
                            property: 'userId',
                            value: 'eisman'
                        }
                    ],
                    icons: {
// //
                    },
                    images: {
                        'Address': 'Apple',
//                        'Api': 'img/twemoji/1f527.svg',
                        'BirthDate': 'Apple',

//                        'zoomFit': 'img/twemoji/2194.svg',
//                        'zoomIn': 'img/twemoji/1f50d.svg',
//                        'zoomOut': 'img/twemoji/1f50e.svg'
                    },
                    text: {
                        'Cookie':"HELLO",
                    },
                    minCollision: 60,
                    neo4jDataUrl: 'json/dd.json',
                    nodeRadius: 25,
                    onNodeDoubleClick: function(node) {
                        switch(node.id) {
                            case '25':
                                // Google
                                window.open(node.properties.url, '_blank');
                                break;
                            default:
                                var maxNodes = 5,
                                    data = neo4jd3.randomD3Data(node, maxNodes);
                                neo4jd3.updateWithD3Data(data);
                                break;
                        }
                    },
                    onRelationshipDoubleClick: function(relationship) {
                        console.log('double click on relationship: ' + JSON.stringify(relationship));
                    },
                    zoomFit: true
                });
            }

            window.onload = init;
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-430863-29', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
